.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8; /* Light gray background */
  color: #333; /* Dark text color */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h2, h3 {
  color: #2c3e50; /* Dark blue for headers */
}

input, select, button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #3498db; /* Light blue button */
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* Darker blue when hovered */
}

div {
  width: 300px;
  background-color: #ffffff; /* White background for forms */
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.patient-info-menu {
  background-color: #ecf0f1; /* Light gray background for patient info */
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.patient-info-menu p {
  color: #34495e; /* Dark gray text for patient details */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
